# Gradle & Build artifacts
**/build/
**/.gradle/
**/bin/
**/out/

# IDE files
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.vscode/
**/.settings/
**/.project/
**/.classpath
**/.factorypath

# Minecraft run directories and cache
**/run/
**/run-data/
**/src/generated/resources/.cache/

# OS files
.DS_Store
Thumbs.db
